<h1>Bill Search</h1>

<form>
  <div class="form-group">
    <label for="date1">Start Date</label>
    {{input type=date value=date1 id="date1"}}
  </div>

  <button class="btn btn-primary" {{action 'dateLookup'}}>Submit</button>
</form>
