<h1>Bill Search</h1>

<form>
  <div class="form-group">
    <label for="date">Start Date</label>
    {{input value=date id="date"}}
  </div>

  <button class="btn btn-primary" {{action 'dateLookup'}}>Submit</button>
</form>
